@import url('header.css');

.container h2 {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
    width: 60%;
    min-width: 300px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
    color: #5382b9;
}

.container-card {
    width: 615px;
    display: flex;
    /* gap: 15px; */
    flex-wrap: wrap;
    margin: 0 auto 30px;
}

.card {
    background: #fdfdfd;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 0 0 10px 0;
    position: relative;
    margin: 8px 0;

}

.card h4 {
    border-bottom: 2px solid #eee;
    padding: 10px;
    color: #606060;
}

.card label {
    display: inline-block;
    width: 180px;
    padding: 10px;
    color: #7a8ea7;
    font-size: 14px;
    font-weight: 500;
}

input {
    border-radius: 5px;
    border: 1px solid #688eb969;
    outline: none;
    padding: 3px;
    width: 400px;
    text-transform: uppercase;
}

input:focus {
    border-color: #19acff;
}

.container-button {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.btn {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 5px; */
    border: none;
    flex-direction: column;
    border-radius: 15px;
    background: #7a8ea723;
    color: #19acff;
    font-weight: 500;
    cursor: pointer;
    margin: 0 50px;
}

.btn i {
    font-size: 30px;
}

.btn:hover {
    background: #19acff;
    color: #fdfdfd;
    transition: 500ms;
}

#date {
    position: absolute;
    top: 10px;
    right: 50px;
    display: none;
    font-weight: bold;
}



@media print {

    header {
        display: none;
    }

    .container {
        padding: 0;
        /* width: 100%; */
    }

    .container-card {
        width: 100%;
    }

    .container-button {
        display: none;
    }

    .card {
        border: none;
        width: 100%;
    }

    input {
        border: none;
    }

    #date {
        display: block;
    }
}