@import url('header.css');

body {
    width: fit-content;
}
.selections {
    width: 100%;
    display: flex;
    gap: 30px;
}

.categoryCard {
    background: #fdfdfd;
    width: 300px;
    height: 150px;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 5px 15px;
}

.containerList {
    background: #fdfdfd;

}

.legends {
    display: grid;
    grid-template-columns: 300px 200px 200px 250px 250px 150px;
    height: 50px;
    align-items: center;
}

span {
    color: #3975d5;
    font-weight: 500;
    padding: 0 20px;
}

.card {
    display: grid;
    grid-template-columns: 300px 200px 200px 250px 250px 150px 50px;
    grid-template-rows: 50px auto;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid #ddd;
    padding: 0 20px;
    overflow: hidden;
}

.card:hover {
    transition: 250ms;
    background: #eee;
}

.btnExtend {
    width: 40px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3975d5;
    color: #fdfdfd;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

#formEdit {
    /* border: 1px solid red; */
    grid-column: span 6;
    height: 115px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 20px;
    border-top: 1px solid #ddd;
}


#formEdit input {
    margin-bottom: 10px;
    padding: 0 3px;
    outline: none;
}

#formEdit textarea {
    width: 400px;
    height: 80px;
    resize: none;
    padding: 3px 5px;
}