@import url('header.css');

.internacao {
    width: 615px;
    display: flex;
    /* gap: 15px; */
    flex-wrap: wrap;
    margin: 0 auto 30px;
}

.container h2 {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
    width: 60%;
    min-width: 300px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
    color: #5382b9;
}
.typeGuiaBar {
    background: #fdfdfd;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 0 10px;
    margin: 8px auto;
}

#typeGuiaSelect {
    width: 220px;
}


.card {
    background: #fdfdfd;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 0 0 10px 0;
    margin: 8px 0;
    display: none;
}

.card h4 {
    border-bottom: 2px solid #eee;
    padding: 10px;
    color: #606060;
}

label {
    display: inline-block;
    width: 180px;
    padding: 10px;
    color: #7a8ea7;
    font-size: 14px;
    font-weight: 500;
}

input {
    border-radius: 5px;
    border: 1px solid #688eb969;
    outline: none;
    padding: 3px;
    width: 400px;
    text-transform: uppercase;
}

input:focus {
    border-color: #19acff;
}

select:focus {
    border-color: #19acff;
}

select {
    border-radius: 5px;
    border: 1px solid #688eb969;
    outline: none;
    padding: 3px;
    width: 400px;
}

.card .data {
    width: 130px;
}

.card .labelMin {
    width: 125px;
    margin-left: 25px;
    padding-right: 0px;
}

.card i {
    text-align: center;
    margin: 0 200px;
    font-size: 20px;
    color: #365477;
}

.card i:hover {
    opacity: 0.5;
    cursor: pointer;
    scale: 1.5;
    transition: 400ms;
}

.procedimentos {
    margin-bottom: 20px;
}

.status {
    margin: 0 auto;
    display: none;
    justify-content: center;
    /* gap: 100px; */
}

.cardStatus {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 5px; */
    flex-direction: column;
    border-radius: 15px;
    background: #7a8ea723;
    color: #19acff;
    font-weight: 500;
    cursor: pointer;
    margin: 0 50px;
}

.cardStatus i {
    font-size: 30px;
}

.cardStatus:hover {
    background: #19acff;
    color: #fdfdfd;
    transition: 500ms;
}