* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background: #fdfdfd;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
}

.content {
    width: 70%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background: #5382b9;
}

.contentText {
    margin: 100px 0 0 0;
    width: 50%;
    color: #fdfdfd;
}

.contentText h1 {
    font-size: 50px;
    font-weight: 500;
}

.contentText h3 {
    margin: 0 0 40px;
    color: #fdfdfd;
    font-size: 30px;
    font-weight: normal;
}

.contentText p {
    color: #fdfdfd;
}

.content img {
    width: 650px;
}

.contentFooter {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    color: #fdfdfd;
    font-size: 13px;
}

.containerForm {
    width: 30%;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.containerForm h1 {
    color: #5382b9;
    text-align: center;
}

.containerForm p {
    margin: -5px 0 100px;
    text-align: center;
    color: #999;
    font-size: 13px;
}

.containerForm form {
    display: flex;
    flex-direction: column;
}

.containerForm form input {
    min-width: 250px;
    height: 30px;
    color: #666;
    font-size: 15px;
    padding: 0px 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.containerForm form input:focus {
    border-color: #19acff;
}

.containerForm form label {
    width: fit-content;
    padding: 0px 5px;
    position: relative;
    left: 7px;
    top: 7px;
    color: #888;
    font-size: 14px;
    background: #fdfdfd;
}


.containerForm form button {
    height: 30px;
    color: #fdfdfd;
    font-size: 15px;
    font-weight: 500;
    background: #5382b9;
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 3px 3px 5px #0000;
    cursor: pointer;
    transition: 300ms;
}

.containerForm form button:hover {
    color: #7a8ea7;
    background: #fdfdfd;
    box-shadow: 3px 3px 5px #0003;
}

.containerForm form span {
    margin: 10px 0;
    color: #777;
    font-size: 14px;
    text-align: right;
}