@import url('header.css');

/* Title da Page */
/* .container .title {
    width: 60%;
    min-width: 300px;
    padding: 0 0 20px;
    margin: 0 auto 20px;
    color: #5382b9;
    text-align: center;
    border-bottom: 1px solid #ddd;
} */

/* Search bar */
.find {
    width: 300px;
    height: 35px;
    padding: 0 10px 0 10px;
    margin: 0 auto 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999;
    background: #fdfdfd;
    border: 1px solid #e0e0e0;
    border-radius: 20px;
    overflow: hidden;
}

.find input {
    width: 100%;
    height: 100%;
    padding: 0 0 0 5px;
    font-size: 16px;
    background: transparent;
    border: none;
    outline: none;
}

/* Card list*/
#lista {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    column-gap: 40px;
}

/* Card Plans */
.card {
    width: 260px;
    height: 95px;
    padding: 5px;
    margin: 0 0 20px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background: #fdfdfd;
    border: 1px solid #eee;
    border-radius: 5px;
    overflow: hidden;
}

.card h2 {
    width: 100%;
    color: #5382b9;
    font-weight: 600;
    text-transform: capitalize;
}

.card .data {
    width: 60px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    right: 0;
    top: 0;
}

.data a {
    width: 25px;
    color: #83a7cf;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.data a:hover {
    opacity: 0.7;
    transition: 300ms;
}

.card label {
    line-height: 25px;
    margin: 0 3px 0 0;
    color: #5ab613;
    font-size: 9.5px;
    font-weight: 550;
}

.card p {
    width: 80%;
    line-height: 25px;
    color: #979797;
    font-size: 12px;
    cursor: pointer;
}

.card p:hover {
    text-decoration: underline;
}

/* Plan Information */
.deep {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffffd3;
    transition: 400ms;
    overflow: hidden;
    opacity: 0;
    z-index: -1;
}

.deep .dados {
    width: 650px;
    height: 500px;
    padding: 25px;
    position: relative;
    color: #636363;
    background: #fafafa;
    border: 1px solid #e0e0e0;
    border-radius: 7px;
    overflow-y: auto;
}

.deep .dados span {
    position: absolute;
    top: 35px;
    right: 50px;
    color: #636363;
    scale: 1.7;
    cursor: pointer;
}

/* PopUp Text Copy */
.popup {
    width: 220px;
    height: 100px;
    padding: 20px 15px;
    position: fixed;
    right: 40px;
    bottom: -120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fdfdfd;
    background: #365477b9;
    backdrop-filter: blur(2px);
    border-radius: 7px;
    opacity: 0;
}

.popup #copiado {
    width: 100%;
    text-align: center;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
}