@import url('header.css');

.container h2 {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
    width: 60%;
    min-width: 300px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
    color: #5382b9;
}

.container-search {
    width: 700px;
    height: 35px;
    display: flex;
    align-items: center;
    border: 1px solid #e1e6ee;
    border-radius: 20px;
    margin: 0 auto;
    padding: 0 10px;
    background: #fbfbfb;
    color: #999;
    margin-bottom: 10px;
}

#search-input {
    width: 100%;
    height: 100%;
    font-size: 16px;
    background: transparent;
    border: none;
    outline: none;
    padding: 0 5px;
    color: #999;
}

.list-ramais {
    width: 700px;
    max-height: 80vh;
    background: #fbfbfb;
    border: 1px solid #e1e6ee;
    border-radius: 7px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
    overflow: auto;
    margin: 0 auto;
}

.ramais-legends {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    color: #5382b9;
    font-weight: 500;
    padding: 0 10px;
}

.legends-setor,
.card-setor {
    width: 50%;
}

.legends-posto,
.card-posto {
    width: 25%;
    text-align: center;
    text-transform: capitalize;
}

.legends-ramal,
.card-ramal {
    width: 25%;
    text-align: center;
}

.ramais-card {
    width: 100%;
}

.card {
    list-style: none;
    height: 45px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
    color: #505050;
    font-weight: 500;
    text-transform: capitalize;
    padding: 0 10px;
}

.card:hover {
    background: #f2f2f2;
}